# Flutter
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/build/
frontend/.packages

# Firebase
frontend/google-services.json
frontend/ios/GoogleService-Info.plist
frontend/lib/firebase_options.dart